---
regenerate: true
layout: archive-full
permalink: /new-news3
hero-image: images/new-design/SR-Background-Image-2.png
title: "News3"
description: "Discover the latest news on Segment Routing"
---
<!--
regenerate: true
layout: articles
permalink: /new-news
hero-image: images/new-design/SR-Hero-Background-Image-8.png
technology: "SRv6"
type: "News"
description: "Discover the latest news on Segment Routing"
-->

<!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
-->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

<style>
.filterDiv {
  display: none;
}

.show {
  display: block;
}
button.btn {
  font-family: 'Cisco Sans TT', sans-serif;
  font-size: 1.1em;
    margin-right: 10px;
    margin-top: 5px;
        position: relative;
}
button.btn:not(.active):hover {
  //background-color: red;
}
/* override hover behavior of active button
   should really fix button:hover using button:not(.active):hover
*/
Qbutton.btn.active:hover {
    padding: 10px 40px;
    border: 1px solid #1994c9;
    border-radius: 20px;
    background-color: #149ed9;
    /* font-size: 18px; */
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    box-shadow: inherit;
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
}
button.btn.active:hover {
    /* border-color: #6abf4b; */
    /* background-color: #6abf4b; */
    padding: 10px 40px;
    border-radius: 20px;
    /* font-size: 18px; */
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    box-shadow: inherit;
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
}
button.btn.active {
    border-color: #6abf4b;
    background-color: #6abf4b;
}
div.btnRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  font-family: 'Cisco Sans TT', sans-serif;
  font-size: 1.1em;
}
div.btnRow > * {
    margin-bottom: 10px;
}
button.active {
  //background-color: red;
}
Qbutton.active:before {
  content:  "\2713 ";
  font-weight: 900;
  font-family: 'Cisco Sans TT', sans-serif;
  font-size: 1.1em;
  line-height: 0em; /* don't make this character expand button height */
}
#btnContainer {
    max-width: 80%;
    margin: auto;
}
div.label {
    margin: 5px 5px 0 0;
    padding: 10px 40px 10px 0;
    font-size: 1.1em;
    font-family: 'Cisco Sans TT', sans-serif;
    text-align: left;
}
.article-postfix {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #bdbdbd;
    letter-spacing: 0.5px;
    font-weight: 500;
}
button.btn .fa-check {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #fff;
    font-weight: normal;
	display: none;
}
button.btn.active .fa-check {
	display: block;
}
</style>

<style>
button.chip-btn{
  cursor:pointer;
}
.chip-group{
  display:flex;
  flex-wrap:wrap;
}
.chip.chip-checkbox > .chip-add-icon::after {
  content:"add"
}
.chip.chip-checkbox.active > .chip-add-icon::after {
  content:"done"
}
.chip > * {
  margin-right:2px;
  margin-left:2px;
  /* color: #757373; */
}
.chip input {
  display: none;
}
.chip.chip-checkbox,
.chip.chip-toggle,
.chip.clickable{
  cursor: pointer;
}
.chip.active {
  background-color: #d3d2d2;
  border-color:#c3c2c2;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12)
}
.chip:hover, .chip:focus {
  background-color: #e3e2e2;
}
.chip:active:focus{
  background-color: #d3d2d2;  
}
.chip button{
  border:none;
  margin-top:0;
  margin-bottom:0;
  padding:0;
  background:none;
  display:inline-flex;
}
.chip {
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #d3d2d2;
  display: inline-flex;
  align-items:center;
  padding: 4px 6px 4px 6px;
  margin-right:6px;
  margin-bottom:6px;
    padding: 10px 40px;
    border: 1px solid #1994c9;
    border-radius: 20px;
    background-color: #149ed9;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
}
.chip i.material-icons {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button.chip-btn:hover {
    border-color: inherit;
    background-color: inherit;
    box-shadow: inherit;
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
}
</style>

<style>
*,
*::before,
*::after {
  box-sizing: border-box;
}

//select {
//  /* A reset of styles, including removing the default dropdown arrow */
//  appearance: none;
//  /* Additional resets for further consistency */
//  background-color: transparent;
//  border: none;
//  padding: 0 1em 0 0;
//  margin: 0;
//  width: 100%;
//  font-family: inherit;
//  font-size: inherit;
//  cursor: inherit;
//  line-height: inherit;
//  outline: none;
//}
//div.select {
//  width: 100%;
//  /*min-width: 15ch;*/
//  /*max-width: 30ch;*/
//  max-width: 30ch;
//  border: 1px solid var(--select-border);
//  border-radius: 0.25em;
//  padding: 0.25em 0.5em;
//  font-size: 1.25rem;
//  cursor: pointer;
//  line-height: 1.1;
//  background-color: #fff;
//  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
//}

//$glass: rgba(255, 255, 255, 0.2);
//$glass-icon: rgba(255, 255, 255, 0.3);
//$gradient: linear-gradient(35deg, red, purple);
//$option: #320a28;

body {
  background: purple;
}

.chip-btn2 {
/*  background: url(https://upload.wikimedia.org/wikipedia/commons/c/c1/High-contrast-dialog-close.svg)
      no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, rgba(255, 255, 255, 0.0) 3em, #149ed9 3em);
  background: url(images/white-x.svg)
      no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, #149ed9 3em, #149ed9 3em);
 */
    align-items: center;
    display: flex;
    padding: 10px 1em 10px 40px;
}
.chip-btn2 span {
	margin-right: 1em;
}
.chip-btn2 img {
	height: 1em;
}
.chip-btn2 img:hover {
    cursor: pointer;
    opacity: 0.7;
}
button.chip-btn2:hover {
    border-color: #1994c9;
    background-color: #149ed9;
    box-shadow: inherit;
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
}

/* <select> styles */
select {
  /* Reset */
  appearance: none;
  border: 0;
  /* outline: 0; */
  /* font: inherit; */
  /* Personalize */
  /* width: 20em; */
  /* height: 3em; */
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, rgba(255, 255, 255, 0.0) 3em, #149ed9 3em);
  color: white;
  border-radius: 0.25em;
  /*box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);*/
  cursor: pointer;

  font-family: 'Cisco Sans TT', sans-serif;
  font-size: 1.1em;
  margin-right: 10px;
  /* margin-top: 5px; */
  position: relative;

  padding: 10px 40px;
  border: 1px solid #1994c9;
  border-radius: 20px;
  background-color: #149ed9;
  /* font-size: 18px; */
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  /* text-align: center; */
  align-items: flex-start;
  display: block;
  /* height: 100%;*/
}
/* <option> colors */
option {
  color: black;
  background-color: white;
}
/* Remove focus outline */
option:focus {
  outline: none;
}
/* Remove IE arrow */
option::-ms-expand {
  display: none;
}

/* Button */
button.btn {
    font-family: 'Cisco Sans TT', sans-serif;
    font-size: 1.1em;
    margin-right: 10px;
    margin-top: 0px; /* is 5px in button css */
    position: relative;
}
.btn {
    float: left;
}
button {
    padding: 10px 40px;
    border: 1px solid #1994c9;
    border-radius: 20px;
    background-color: #149ed9;
    /* font-size: 18px; */
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    /* height: 100%;*/
    margin-bottom: 10px;
}
</style>

<div id="btnContainer">
  <div class="label">Category:</div>
  <div class="btnRow">
    <button class="btn category active" onclick="filterSelection('category', 'all')"><i class="fa fa-check"></i> Show all</button>
    <button class="btn category" onclick="filterSelection('category', 'blogs')"><i class="fa fa-check"></i> Blogs</button>
    <button class="btn category" onclick="filterSelection('category', 'conferences')"><i class="fa fa-check"></i> Conferences</button>
    <button class="btn category" onclick="filterSelection('category', 'demos')"><i class="fa fa-check"></i> Demos</button>
    <button class="btn category" onclick="filterSelection('category', 'news')"><i class="fa fa-check"></i> News</button>
  </div>
  <div class="label">Technology:</div>
  <div class="btnRow">
	  <button class="btn technology active" onclick="filterSelection('technology', 'all')"><i class="fa fa-check"></i> Show all</button>
	  <button class="btn technology" onclick="filterSelection('technology', 'SRv6')"><i class="fa fa-check"></i> SRv6</button>
	  <button class="btn technology" onclick="filterSelection('technology', 'SRMPLS')"><i class="fa fa-check"></i> SR-MPLS</button>
  </div>

  <div class="label">Technology:</div>
  <div class="btnRow">
   <div class="select">
    <select id="filterTechnology" onchange="{console.log('@@', this.options[this.selectedIndex]);if(this.options[this.selectedIndex].onclick != null){this.options[this.selectedIndex].onclick(this);}}" onfocus="this.selectedIndex=-1;" onblur="this.selectedIndex=0; console.log('blurred it ', this);">
	<option value='' selected disabled>Filter...</option>
	<option value='Show All' onclick="{doFilter(this);}">Show All</option>
	<option value='SRv6' onclick="{doFilter(this);}">SRv6</option>
	<option value='SR MPLS' onclick="{doFilter(this);}">SR MPLS</option>
    </select>
   </div>

    <div id='chipContainerTechnology'>
	<!-- add chips... -->
    </div>
  </div>

  <div class="label">Category:</div>
  <div class="btnRow">
   <div class="select">
    <select id="filterCategory" onchange="{console.log('##', this.options[this.selectedIndex]);if(this.options[this.selectedIndex].onclick != null){this.options[this.selectedIndex].onclick(this);}}" onfocus="this.selectedIndex=-1;this.blur();">
	<option value='' selected disabled>Filter...</option>
	<option value='Show All' onclick="{doFilter(this);}">Show All</option>
	<option value='Blogs' onclick="{doFilter(this);}">Blogs</option>
	<option value='News' onclick="{doFilter(this);}">News</option>
	<option value='Conferences' onclick="{doFilter(this);}">Conferences</option>
    </select>
   </div>

    <div id='chipContainerCategory'>
	<!-- add chips... -->
    </div>
  </div>
</div> <!-- end btn container -->


	<script>

const chipContainerCategory = document.getElementById("chipContainerCategory");
const chipContainerTechnology = document.getElementById("chipContainerTechnology");

function doFilter(el) {
	console.log("doFilter: ", el);
	var chipContainer = chipContainerTechnology;
	if (el.parentNode.id === 'filterCategory') {
		chipContainer = chipContainerCategory;
	}
	// if el already in chips, remove it
	// if el not yet in chips, add it
	// if el is "show all", remove all chips

	let isRemoved=false;
	// first remove the chip if present
	const chips = chipContainer.children;
	console.log("chips ", chips, " ", chips.length);
	for (let i = chips.length - 1; i >= 0; i--) {
		if (chips[i].localName !== "button") {
			// there should not be any other elements
			continue;
		}
		console.log("loop chips ", chips[i].innerText);
		if(el.value === 'Show All' || chips[i].innerText === el.value) {
			console.log("removing chip ", chips[i].innerText);
			chipContainer.removeChild(chips[i]);
			isRemoved=true;
		}
	}
	if (!isRemoved && el.value !== 'Show All') {
		console.log("adding chip ", el.value);
		let newChip = document.createElement('button');
		newChip.setAttribute("id", el.value);
		newChip.className = "btn";
		newChip.classList.add("chip-btn2");
		newChip.innerText = el.value;
		//newChip.innerHTML = el.value + '<i class = "material-icons">cancel</i></button>';
		newChip.innerHTML = '<span>' + el.value + '</span><img src="images/white-x.svg">';
		newChip.addEventListener("click", removeChip);
		chipContainer.appendChild(newChip);
	}
	el.parentNode.selectedIndex=0;
	el.blur();
}

function removeChip(e){
	console.log("Removing chip", e.target, e, e.target.tagName);
	console.log("Current Target=", e.currentTarget);
	if (e.target.tagName !== 'IMG') {
		// if the image is not clicked, do nothing
		return;
	}
	// remove current target
	e.currentTarget.parentNode.removeChild(e.currentTarget);
	return
	//e.stopPropagation();
	//e.preventDefault();
		let target = e.target;
		let parent = e.target.parentNode;
	//if (e.currentTarget === parent) {
	if (e.currentTarget !== e.target) {
		/* event must be from child -> remove child of parent's parent */
		target = e.target.parentNode;
		parent = e.target.parentNode.parentNode;
	}
	parent.removeChild(target);
}

/*
<div class="chip">
  <div class="chip-content">Chip</div>
  <div class="chip-close">
      <svg class="chip-svg" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"></path></svg>
  
  </div>
</div>

.chip{
    display: inline-flex;
    flex-direction: row;
    background-color: #e5e5e5;
    border: none;
    cursor: default;
    height: 36px;
    outline: none;
    padding: 0;
    font-size: 14px;
    font-color: #333333;
    font-family:"Open Sans", sans-serif;
    white-space: nowrap;
    align-items: center;
    border-radius: 16px;
    vertical-align: middle;
    text-decoration: none;
    justify-content: center;
}
.chip-head{
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #32C5D2;
    font-size: 1.25rem;
    flex-shrink: 0;
    align-items: center;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    width: 36px;
    color: #fff;
    height: 36px;
    font-size: 20px;
    margin-right: -4px;
}
.chip-content{
    cursor: inherit;
    display: flex;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
}
.chip-svg{
        color: #999999;
    cursor: pointer;
    height: auto;
    margin: 4px 4px 0 -8px;
  fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}
.chip-svg:hover{
    color: #666666;
}
*/
	</script>


{% capture written_year %}'None'{% endcapture %}
{% assign all_content = site.documents 
| where_exp:"item", "item.id.size"
| where_exp:"item", "item.date"
| where_exp:"item", "item.collection != 'open-software'"
| where_exp:"item", "item.collection != 'scientific-papers'"
| where_exp:"item", "item.collection != 'tutorials'"
| sort: date 
| uniq
| reverse %}
  <div class="container accordion">
    {% for post in all_content %}
      {% capture year %}{{ post.date | slice: 0, 4 }}{% endcapture %}
      {% if year != written_year %}
        </details>
        {% if post == all_content[0] %}
	<details open>
        {% else %}
	<details>
        {% endif %}
          <summary> {{ year }} </summary>
          {% capture written_year %}{{ year }}{% endcapture %}
      {% endif %}
      {% include new-news-list %} 
    {% endfor %} 
  </div>
  <p id="notice-no-items-found" hidden>No items found.</p>


<script>

//console.log("BEGIN");
let filter = {"category": "all", "technology": "all"};
filterSelection("technology", "all");
filterSelection("category", "all");

function filterSelection(type, value) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (value == "all") { value = ""; }
  // set global filter
  filter[type] = value;
  //console.log(filter);
  // Add the "show" class (display:block) to the filtered elements,
  // and remove the "show" class from the elements that are not selected
  for (i = 0; i < x.length; i++) {
    // w3RemoveClass(x[i], "show");
    x[i].classList.remove("show");
    //console.log(x[i]);
    if ((x[i].className.indexOf(filter["technology"]) > -1) 
      && (x[i].className.indexOf(filter["category"]) > -1)) {
        x[i].classList.add("show");
    }
  }
}

function hasClass(element, clsName) {
  return (" " + element.className + " ").indexOf(" " + clsName + " ") > -1;
}

// Add active class to the current control button (highlight it)
var btnContainer = document.getElementById("btnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    if (this.className.indexOf("category") > -1) {
      var current = document.getElementsByClassName("btn category active");
      current[0].className = current[0].className.replace(" active", "");
    }
    if (this.className.indexOf("technology") > -1) {
      var current = document.getElementsByClassName("btn technology active");
      current[0].className = current[0].className.replace(" active", "");
    }
    this.className += " active";

    let details = document.querySelectorAll("details");
    //console.log(details);
    let firstUnhiddenDetails = true;
    let noFilterResults = true;
    details.forEach(function (details) {
      let allHidden = true;
      let divs = details.querySelectorAll("div.filterDiv");
      // .some() returns true as soon as a callback returns true
      // .every() returns false as soon as a callback returns false
      // return true if all entries have class "show"
      for (let div of divs) {
        if (hasClass(div, "show")) {
          allHidden = false;
          break;
        }
      }
      if (allHidden) {
        // console.log(details, "ALL entries are hidden");
        // hide details as well
        details.hidden = true;
      } else {
        console.log(details, "NOT all entries are hidden");
        noFilterResults = false;
        // open first year with non-hidden items
        if (firstUnhiddenDetails) {
          firstUnhiddenDetails = false;
          details.setAttribute("open", "");
	}
        details.style.display = "";
        details.hidden = false;
      }
    });
    let notice = document.getElementById("notice-no-items-found");
    if (noFilterResults) {
        notice.hidden = false;
    } else {
        notice.hidden = true;
    }
  });
};
</script>
